body {
    min-height: 100vh;
    background-size: 100% 100%;
    background-position: 0 0,0 0,0 0,0 0,0 0,0 0;
    background-image: radial-gradient(70% 53% at 36% 76%, #C1F4FDFF 0%, #073AFF00 100%),radial-gradient(42% 53% at 34% 72%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(31% 43% at 7% 98%, #FFFFFFFF 24%, #073AFF00 100%),radial-gradient(35% 56% at 91% 74%, #E1D5FDF5 9%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, #D0FCE6F5 24%, #073AFF00 100%),linear-gradient(125deg, #C9EBFAF5 1%, #DED1FFFF 100%);
}